.popup-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  border: none;
  border-radius: 2px;
  padding-bottom: 14px;
  padding-top: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: var(--black);
  color: var(--white);
  cursor: pointer;
  transition: all var(--standardTransition);
}

.popup-form__submit:hover {
  opacity: 0.8;
}
